h1 {
  margin-bottom: 25px;
  margin-top: 25px;
}

.image {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 200px;
}

.image:hover {
  transform: scale(1.25, 1.25);
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  opacity: 0.9;
}

.col-sm {
  text-align: center;
}




