<div class="row">
  <div class="col text-center">
    <h1 id="galeria">GALERIA</h1>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
  </div>
</div>
<section class="portfolio" id="portfolio">
  <div class="container-fluid">

    <div class="row" style="margin-top: 25px;">

      <div align="center">
        <h1 id="blaszane">Garaże blaszane</h1>
      </div>

      <br/>
      <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
          <div class="col-sm">
              <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/blaszany1.jpg"/>
          </div>
          <div class="col-sm">
            <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/blaszak2.jpg"/>
          </div>
        </div>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%; margin-top: 50px;">

    <div class="row" style="margin-top: 50px;">

      <div align="center">
        <h1 id="tynkowane">Garaże tynkowane</h1>
      </div>

      <br/>
      <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
          <div class="col-sm">
            <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/tynkowany1.jpg"/>
          </div>
          <div class="col-sm">
            <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/tynkowany2.jpg"/>
          </div>
        </div>
      </div>
    </div>


    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%; margin-top: 50px;">

    <div class="row" style="margin-top: 50px;">

      <div align="center">
        <h1 id="ogrodowe">Domki ogrodowe</h1>
      </div>

      <br/>
      <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
          <div class="col-sm">
            <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/domek2.jpg"/>
          </div>
          <div class="col-sm">
            <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/domek1.jpg"/>

          </div>
        </div>
      </div>
    </div>


    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%; margin-top: 50px;">

    <div class="row" style="margin-top: 50px;">

      <div align="center">
        <h1 id="smietniki">Śmietniki</h1>
      </div>

      <br/>
      <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
          <div class="col-sm">
            <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/smietnik1.jpg"/>
          </div>
          <div class="col-sm">
            <img class="img-responsive" style="border: 5px solid #555;" alt="" src="../../assets/images/smietnik2.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
