<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>OFERTA</h3>
          <ul>
            <li><a href="#">Garaże blaszane</a></li>
            <li><a href="#">Garaże ocieplane tynkowane</a></li>
            <li><a href="#">Śmietniki</a></li>
            <li><a href="#">Schowki ogrodowe</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>O Nas</h3>
          <ul>
            <li><a href="#">O nas</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>SEGMENTOWO</h3>
          <p>Firma specjalizująca się w konstrukcjach blachowych. Segmentowo jest rodziną firmą, mającą na celu stworzenie najlepszej jakości produktu. Stawiamy na jakość.</p>
        </div>
        <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
      </div>
      <p class="copyright">SEGMENTOWO © 2022</p>
    </div>
  </footer>
</div>
