<header>

  <app-nav></app-nav>

  <div id="carousell" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousell" data-slide-to="0" class="active"></li>
      <li data-target="#carousell" data-slide-to="1"></li>
      <li data-target="#carousell" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">

      </div>
      <div class="carousel-item" data-interval="3000">

      </div>
      <div class="carousel-item">

      </div>
    </div>
    <a class="carousel-control-prev" href="#carousell" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousell" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <router-outlet></router-outlet>
<app-footer></app-footer>
</header>

