<mat-stepper linear #stepper>

    <mat-step >
        <ng-template matStepLabel>WYMIARY</ng-template>
        <div class="row" style="text-align: center;" >
            <div class="col mt-2">
              <img class="image-size" src="../../assets/images/garaz-wymiary.jpg">
            </div>
            <div class="col mt-2" >
              <h4>Długość</h4>
              <mat-form-field appearance="fill">
                <mat-label>Wybierz długość [m]</mat-label>
                <mat-select>
                  <mat-option *ngFor="let dl of dls" [value]="dl">
                    {{dl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col mt-2">
              <h4>Szerokość</h4>
              <mat-form-field appearance="fill">
                <mat-label>Wybierz szerokość[m]</mat-label>
                <mat-select>
                  <mat-option *ngFor="let dl of dls" [value]="dl">
                    {{dl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col mt-2">
              <h4>Wysokość</h4>
              <mat-form-field appearance="fill">
                <mat-label>Wybierz wysokość[m]</mat-label>
                <mat-select>
                  <mat-option *ngFor="let dl of dls" [value]="dl">
                    {{dl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        <div class="row justify-content-center">
            <div class="col-1 text-center"><button mat-button matStepperPrevious>Wstecz</button></div>
            <div class="col-1 text-center"><button mat-button matStepperNext>Dalej</button></div>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>SPAD DACHU</ng-template>
        <div class="container-fluid">

            <div class="row mt-5 mb-5">
                <div class="col">
                    <div class="row">
                        <div class="col-sm">
                            <figcaption class="figure-caption text-center mb-2">Prawo - Lewo</figcaption>
                            <img (click)="setRoofChoice(1)" class="image" src="../../assets/images/prawo-lewo.jpg">
                            <img  class="image-over" [hidden]="true" src="../../assets/images/check-mark.png">
                        </div>
                        <div class="col-sm">
                            <figcaption class="figure-caption text-center mb-2">Tył</figcaption>
                            <img (click)="setRoofChoice(2)" class="image" src="../../assets/images/tył.jpg">
                            <img  class="image-over" [hidden]="true" src="../../assets/images/check-mark.png">
                          </div>
                        <div class="col-sm">
                            <figcaption class="figure-caption text-center mb-2">Prawo</figcaption>
                            <img (click)="setRoofChoice(3)" class="image" src="../../assets/images/prawo.jpg">
                            <img  class="image-over" [hidden]="true" src="../../assets/images/check-mark.png">
                          </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-sm">
                            <figcaption class="figure-caption text-center mb-2">Lewo</figcaption>
                            <img (click)="setRoofChoice(4)" class="image" src="../../assets/images/lewo.jpg">
                            <img  class="image-over" [hidden]="true" src="../../assets/images/check-mark.png">
                          </div>
                        <div class="col-sm">
                            <figcaption class="figure-caption text-center mb-2">Przód</figcaption>
                            <img (click)="setRoofChoice(5)" class="image" src="../../assets/images/przód.jpg">
                            <img  class="image-over" [hidden]="true" src="../../assets/images/check-mark.png">
                          </div>
                        <div class="col-sm">
                            <figcaption class="figure-caption text-center mb-2">Przód - Tył</figcaption>
                            <img (click)="setRoofChoice(6)" class="image" src="../../assets/images/przód-tył.jpg">
                            <img  class="image-over" [hidden]="true" src="../../assets/images/check-mark.png">
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1 text-center"><button mat-button matStepperPrevious>Wstecz</button></div>
            <div class="col-1 text-center"><button mat-button matStepperNext>Dalej</button></div>
        </div>
    </mat-step>

    <mat-step >

            <ng-template matStepLabel>KOLOR I RODZAJ POSZYCIA</ng-template>

    </mat-step>
    <mat-step >

            <ng-template matStepLabel>BRAMA</ng-template>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
