<mat-stepper orientation="vertical" #stepper>

  <mat-step>
    <ng-template matStepLabel>WYMIARY</ng-template>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="row" style="text-align: center;">
      <div class="col mt-2">
        <img class="image-size" src="../../assets/images/garaz-wymiary.jpg">
      </div>
      <div class="col mt-2">
        <h4>Długość</h4>
        <mat-form-field appearance="fill">
          <mat-label>Wybierz długość [cm]</mat-label>
          <input type="number" matInput [formControl]="length" min="0">
        </mat-form-field>
      </div>
      <div class="col mt-2">
        <h4>Szerokość</h4>
        <mat-form-field appearance="fill">
          <mat-label>Wybierz szerokość[cm]</mat-label>
          <input type="number" matInput [formControl]="width" min="0">
        </mat-form-field>
      </div>
      <div class="col mt-2">
        <h4>Wysokość</h4>
        <mat-form-field appearance="fill">
          <mat-label>Wybierz wysokość[cm]</mat-label>
          <input type="number" matInput [formControl]="height" min="0">
        </mat-form-field>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="text-center">
      <div class="btn-group">
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>KOLOR I RODZAJ POSZYCIA ŚCIAN</ng-template>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(5)" class="color-image" src="../../assets/images/RAL-3005-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 3005</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==5" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(6)" class="color-image" src="../../assets/images/RAL-3011-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 3011</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==6" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(7)" class="color-image" src="../../assets/images/RAL-3016-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 3016</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==7" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(8)" class="color-image" src="../../assets/images/RAL-5010-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 5010</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==8" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(9)" class="color-image" src="../../assets/images/RAL-6005-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 6005</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==9" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(10)" class="color-image" src="../../assets/images/RAL-6020-MAT.jpg">
              <figcaption class="figure-caption text-center">RAL 6020</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==10" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(11)" class="color-image" src="../../assets/images/RAL-6029-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 6029</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!=11" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(12)" class="color-image" src="../../assets/images/RAL-7000-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 7000</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==12" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(13)" class="color-image" src="../../assets/images/RAL-7016-MAT.jpg">
              <figcaption class="figure-caption text-center">RAL 7016</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==13" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(14)" class="color-image" src="../../assets/images/RAL-7016-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 7016</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==14" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(15)" class="color-image" src="../../assets/images/RAL-7024-MAT.jpg">
              <figcaption class="figure-caption text-center">RAL 7024</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==15" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(16)" class="color-image" src="../../assets/images/RAL-7024-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 7024</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==16" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(17)" class="color-image" src="../../assets/images/RAL-8004-MAT.jpg">
              <figcaption class="figure-caption text-center">RAL 8004</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==17" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(18)" class="color-image" src="../../assets/images/RAL-8016-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 8016 POŁYSK</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==18" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(19)" class="color-image" src="../../assets/images/RAL-8017-MAT.jpg">
              <figcaption class="figure-caption text-center">RAL 8017</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==19" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(20)" class="color-image" src="../../assets/images/RAL-8017-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 8017</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==20" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(21)" class="color-image" src="../../assets/images/RAL-8019-MAT.jpg">
              <figcaption class="figure-caption text-center">RAL 8019</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==21" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(22)" class="color-image" src="../../assets/images/RAL-8019-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 8019</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==22" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(23)" class="color-image" src="../../assets/images/RAL-8023-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 8023</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==23" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(24)" class="color-image" src="../../assets/images/RAL-9002-POLYSK.jpg">
              <figcaption class="figure-caption text-center"> RAL 9002</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==24" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(25)" class="color-image" src="../../assets/images/RAL-9005-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 9005</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==25" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(26)" class="color-image" src="../../assets/images/RAL-9006-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 9006</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==26" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(27)" class="color-image" src="../../assets/images/RAL-9007-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL-9007</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==27" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(28)" class="color-image" src="../../assets/images/RAL-9010-MAT.jpg">
              <figcaption class="figure-caption text-center">RAL 9010</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==28" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <img (click)="setColourChoice(29)" class="color-image" src="../../assets/images/RAL-9010-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 9010</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==29" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(30)" class="color-image" src="../../assets/images/RAL-1002-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 1002</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==0" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <img (click)="setColourChoice(4)" class="color-image" src="../../assets/images/RAL-1021-POLYSK.jpg">
              <figcaption class="figure-caption text-center">RAL 1021</figcaption>
              <img class="image-over" [hidden]="colorChoice%30!==4" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">

    <div class="text-center">
      <div class="btn-group">
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>SPAD DACHU</ng-template>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="container-fluid">

      <div class="row mt-5 mb-5">
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <figcaption class="figure-caption text-center mb-2">Prawo - Lewo</figcaption>
              <img (click)="setRoofChoice(1)" class="image" src="../../assets/images/prawo-lewo.jpg">
              <img class="image-over" [hidden]="roofChoice%6!==1" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <figcaption class="figure-caption text-center mb-2">Tył</figcaption>
              <img (click)="setRoofChoice(2)" class="image" src="../../assets/images/tył.jpg">
              <img class="image-over" [hidden]="roofChoice%6!==2" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <figcaption class="figure-caption text-center mb-2">Prawo</figcaption>
              <img (click)="setRoofChoice(3)" class="image" src="../../assets/images/prawo.jpg">
              <img class="image-over" [hidden]="roofChoice%6!==3" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm">
              <figcaption class="figure-caption text-center mb-2">Lewo</figcaption>
              <img (click)="setRoofChoice(4)" class="image" src="../../assets/images/lewo.jpg">
              <img class="image-over" [hidden]="roofChoice%6!==4" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <figcaption class="figure-caption text-center mb-2">Przód</figcaption>
              <img (click)="setRoofChoice(5)" class="image" src="../../assets/images/przód.jpg">
              <img class="image-over" [hidden]="roofChoice%6!==5" src="../../assets/images/check-mark.png">
            </div>
            <div class="col-sm">
              <figcaption class="figure-caption text-center mb-2">Przód - Tył</figcaption>
              <img (click)="setRoofChoice(6)" class="image" src="../../assets/images/przód-tył.jpg">
              <img class="image-over" [hidden]="roofChoice%6!==0" src="../../assets/images/check-mark.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">

    <div class="text-center">
      <div class="btn-group">
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </div>
  </mat-step>
  <mat-step>

    <ng-template matStepLabel>KOLOR I RODZAJ DACHU</ng-template>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="container-fluid">
      <div class="row">
        <div class="row" style="margin-top: 16px; text-align: center">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">BLACHODACHÓWKA</mat-radio-button>
            <mat-radio-button value="2">TRAPEZ</mat-radio-button>
            <mat-radio-button value="3">RĄBEK STOJĄCY</mat-radio-button>
          </mat-radio-group>
        </div>
        <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
        <div class="row" style="margin-top: 16px">
          <div class="col">
            <div class="row">
              <div class="col-sm">
                <img (click)="setRoofColorChoice(1)" class="color-image" src="../../assets/images/RAL-3005-POLYSK.jpg">
                <figcaption class="figure-caption text-center">RAL 3005 POŁYSK</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==1" src="../../assets/images/check-mark.png">
              </div>
              <div class="col-sm">
                <img (click)="setRoofColorChoice(2)" class="color-image" src="../../assets/images/RAL-6020-MAT.jpg">
                <figcaption class="figure-caption text-center">RAL 6020 MAT</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==2" src="../../assets/images/check-mark.png">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row ">
              <div class="col-sm">
                <img (click)="setRoofColorChoice(3)" class="color-image" src="../../assets/images/RAL-7016-MAT.jpg">
                <figcaption class="figure-caption text-center">RAL 7016 MAT</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==3" src="../../assets/images/check-mark.png">
              </div>
              <div class="col-sm">
                <img (click)="setRoofColorChoice(4)" class="color-image" src="../../assets/images/RAL-7024-MAT.jpg">
                <figcaption class="figure-caption text-center">RAL 7024 MAT</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==4" src="../../assets/images/check-mark.png">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-sm">
                <img (click)="setRoofColorChoice(5)" class="color-image" src="../../assets/images/RAL-8004-MAT.jpg">
                <figcaption class="figure-caption text-center">RAL 8004 MAT</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==5" src="../../assets/images/check-mark.png">
              </div>
              <div class="col-sm">
                <img (click)="setRoofColorChoice(6)" class="color-image" src="../../assets/images/RAL-8017-POLYSK.jpg">
                <figcaption class="figure-caption text-center">RAL 8017 POŁYSK</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==6" src="../../assets/images/check-mark.png">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-sm">
                <img (click)="setRoofColorChoice(7)" class="color-image" src="../../assets/images/RAL-8019-MAT.jpg">
                <figcaption class="figure-caption text-center">RAL 8019 MAT</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==7" src="../../assets/images/check-mark.png">
              </div>
              <div class="col-sm">
                <img (click)="setRoofColorChoice(8)" class="color-image" src="../../assets/images/RAL-9005-POLYSK.jpg">
                <figcaption class="figure-caption text-center">RAL 9005 POŁYSK</figcaption>
                <img class="image-over" [hidden]="roofColorChoice%8!==0" src="../../assets/images/check-mark.png">
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">

    <div class="text-center">
      <div class="btn-group">
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>BRAMA</ng-template>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <img (click)="setGateChoice(1)" class="color-image" src="../../assets/images/BRAK-BRAMY.jpg">
          <figcaption class="figure-caption text-center">BRAK BRAMY</figcaption>
          <img class="image-over" [hidden]="gateChoice%4!==1" src="../../assets/images/check-mark.png">
        </div>
        <div class="col-sm">
          <img (click)="setGateChoice(2)" class="color-image" src="../../assets/images/UCHYLNA.jpg">
          <figcaption class="figure-caption text-center">UCHYLNA</figcaption>
          <img class="image-over" [hidden]="gateChoice%4!==2" src="../../assets/images/check-mark.png">
        </div>
        <div class="col-sm">
          <img (click)="setGateChoice(3)" class="color-image" src="../../assets/images/SEGMENTOWA.jpg">
          <figcaption class="figure-caption text-center">SEGMENTOWA</figcaption>
          <img class="image-over" [hidden]="gateChoice%4!==3" src="../../assets/images/check-mark.png">
        </div>
        <div class="col-sm">
          <img (click)="setGateChoice(4)" class="color-image" src="../../assets/images/DWUSKRZYDLOWA.jpg">
          <figcaption class="figure-caption text-center">DWUSKRZYDŁOWA</figcaption>
          <img class="image-over" [hidden]="gateChoice%4!==0" src="../../assets/images/check-mark.png">
        </div>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="text-center">
      <div class="btn-group">
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>OPCJE DODATKOWE</ng-template>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="container-fluid">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="naped">
        <figcaption class="figure-caption">NAPĘD DO BRAMU</figcaption>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="okna">
        <figcaption class="figure-caption">DODATKOWE OKNA</figcaption>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="dzrwi">
        <figcaption class="figure-caption">DODATKOWE DRZWI</figcaption>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="rynny">
        <figcaption class="figure-caption">DODATKOWE RYNNY</figcaption>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="kotwiczenie">
        <figcaption class="figure-caption">KOTWICZENIE</figcaption>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="text-center">
      <div class="btn-group">
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>PODSUMOWANIE</ng-template>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm">
          <div class="text-center px-1">
            <div class="forms p-4 py-5 bg-white"><h5>Wyślij stowrzony garaż</h5>
              <div class="mt-4 inputs">
                <div class="input-icons">
                  <i class="fa fa-at icon"></i>
                  <input type="text" class="input-field" placeholder="E-Mail">
                </div>
                <div class="input-icons">
                  <i class="fa fa-phone icon"></i>
                  <input type="text" class="input-field" placeholder="Telefon">
                </div>
                <div class="input-icons">
                  <i class="fa fa-file-text-o icon"></i>
                  <textarea class="input-field"
                            placeholder="Dodatkowe"></textarea>
                </div>

              </div>
              <div class="form-check form-switch m-3">
                <input class="form-check-input" type="checkbox" id="zgoda">
                <label class="form-check-label" for="zgoda"
                       matTooltipPosition="above"
                       matTooltip="Zapoznałem się z klauzulą informacyjną w zakresie danych osobowych zgodnie z wymaganiami RODO i rozumiem, iż podanie moich danych osobowych jest dobrowolne i mam prawo do dostępu do treści swoich danych oraz prawo ich sprostowania, zmiany usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo wniesienia sprzeciwu, prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania którego dokonano na podstawie zgody przed jej cofnięciem, prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych (dawniej GIODO)."
                >Wyrażam zgodę na przetwarzanie moich danych</label>
              </div>
              <div class="button text-center">
                <button type="button" class="btn btn-outline-secondary btn-block">Wyślij<i
                  class="fa fa-envelope icon"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black; width: 95%">
    <div class="text-center">
      <div class="btn-group">
        <button mat-button matStepperPrevious>Wstecz</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
