<nav class="navbar navbar-expand-lg fixed-top navbar-light ">
  <a class="navbar-brand text-white" href="#"><img src="../../assets/images/lol.png" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link text-white" href="oferta#oferta">OFERTA</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-white" href="#">O NAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">GALERIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="kontakt#kontakt">KONTAKT</a>
      </li>
      <li class="nav-item">
          <span style="font-size: 2rem;">
            <span style="color: white;">
              <i class="fa fa-mobile"> 606 579 409</i>
            </span>
          </span>
      </li>
    </ul>
  </div>
</nav>
