.navbar-toggler{
    background-color: white;   
}
.navbar{
    background-color: #000000b3;
}
.nav-item{
    margin-left: 15px;
}
.nav-link{
    font-size: large;
    font-weight: 400;
}
.nav-link:hover{
    transform: scale(1.20, 1.20);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}