<h1 id="kontakt">KONTAKT</h1>
<div class="wrapper">
  <div class="overlay">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9">
        <div class="contact-us text-center"><h3>Skontaktuj się z nami!</h3>
          <p class="mb-5">W celu uzyskania dodatkowych informacji zachęcmy do bezpośrdniego kontaktu.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="mt-5 text-center px-3">
                <div class="d-flex flex-row align-items-center"><span class="icons"><i
                  class="fa fa-map-marker"></i></span>
                  <div class="address text-left"><span>Adres</span>
                    <p>Laskowa, powiat limanowski, województwo małopolskie</p></div>
                </div>
                <div class="d-flex flex-row align-items-center mt-3"><span class="icons"><i
                  class="fa fa-phone"></i></span>
                  <div class="address text-left"><span>Telefon</span>
                    <p>606 579 409</p></div>
                </div>
                <div class="d-flex flex-row align-items-center mt-3"><span class="icons"><i
                  class="fa fa-envelope-o"></i></span>
                  <div class="address text-left"><span>E-Mail</span>
                    <p>biuro@segmenotowo.com</p></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center px-1">
                <div class="forms p-4 py-5 bg-white"><h5>Wyślij wiadomość</h5>
                  <div class="mt-4 inputs">
                    <div class="input-icons">
                      <i class="fa fa-user icon"></i>
                      <input type="text" class="input-field" placeholder="Imię i nazwisko">
                    </div>
                    <div class="input-icons">
                      <i class="fa fa-at icon"></i>
                      <input type="text" class="input-field" placeholder="E-Mail">
                    </div>
                    <div class="input-icons">
                      <i class="fa fa-phone icon"></i>
                      <input type="text" class="input-field" placeholder="Telefon">
                    </div>
                    <div class="input-icons">
                      <i class="fa fa-hand-o-right icon"></i>
                      <input type="text" class="input-field" placeholder="Temat wiadomości">
                    </div>
                    <div class="input-icons">
                      <i class="fa fa-file-text-o icon"></i>
                      <textarea class="input-field"
                                placeholder="Wiadomość"></textarea>
                    </div>

                  </div>
                  <div class="form-check form-switch m-3">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                           matTooltipPosition="right"
                           matTooltip="Zapoznałem się z klauzulą informacyjną w zakresie danych osobowych zgodnie z wymaganiami RODO i rozumiem, iż podanie moich danych osobowych jest dobrowolne i mam prawo do dostępu do treści swoich danych oraz prawo ich sprostowania, zmiany usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo wniesienia sprzeciwu, prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania którego dokonano na podstawie zgody przed jej cofnięciem, prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych (dawniej GIODO).">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Wyrażam zgodę na przetwarzanie moich
                      danych</label>
                  </div>
                  <div class="button text-center">
                    <button type="button" class="btn btn-outline-secondary btn-block">Wyślij<i
                      class="fa fa-envelope icon"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
